html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%; /* normally 100 percent, 16 px, 62.5 is 10 px */
  background-image: url(https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltbded518020183769/5eb26f5389bac8148a8006cc/agent-background-generic.JPG);
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: whitesmoke;
}

.title {
  font-size: 100px;
 
}
.parent {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.small {
  font-size: 30px;
}
h1 {
    margin-top: 10px;
    color: white;
}
h2 {
  background:rgb(85, 79, 79);
  border: 10px;
  margin: 1rem;
  font-size: 37px;
}

img {
  border-style: solid;
  color: rgb(145, 161, 214);
}
button {
  height: 360;
  width: 540;
  border-radius: 10px;
  background: rgb(85, 79, 79);
  transition: all 0.2s;
  margin-bottom: 50px;
  box-shadow: 1px 3px 3px black;
}
button:hover {
  transform: scale(1.2);
}
