html, 
body, 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;/* normally 100 percent, 16 px, 62.5 is 10 px */
}
.row1 {
    font-size: 16px;
    display: flex;
}
.row2 {
    font-size: 16px;
    display: flex;
}
h2{
    margin: 1rem;

}
.first  {
    font-size: 16px;
}
.second {
    font-size: 1rem;
}
.third {
    font-size: 1em;
}